.divRow {
    /* border: 3px solid black; */
    border-top: 0px;
    border-bottom: 0px;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.divCell {
    margin: 1px;
    /* background-color: pink; */
    flex: 1;
    background-color: white;

}


.divCellHovered {
    margin: 1px;
    background-color: black;
    flex: 1;
}

.container {
    height: 800px;
    width: 800px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1px;
}